.content{
    width: 1150px;
    margin: 0 auto;
    padding-top: 50px;
}
.pg-input {
    width: 20%;
    margin: 0 auto;
}
.pg-input label {
    width: 10%;
}
.pg-input input {
    width: 80%;
    display: inline-block;
    margin: 0 0 10px 0;
}
.left-block {
    width: 50%;
    float: left;
    border-right: thick solid #000;
}
.right-block {
    width: 50%;
    float: right;
}
.right-block label,
.left-block label {
    padding-left: 5px;
    width: 5%;
}
.left-block p {
    margin-top: 10px;
}
.inputData {
    width: 40%;
    display: inline-block;
}
.label {
    margin: 0 0 0 30px;
}
.info-block span {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.a-span {
    margin-left: 28%;
}
.b-span {
    margin-left: 43%;
}
.info-block input {
    width: 45%;
    display: inline-block;
}
.right-block button {
    margin-left: 20px;
}

/*Part 2 */
#tab-part2 {
    display: none;
}