.content{
    width: 900px;
    margin: 0 auto;
    padding-top: 50px;
}
.register {
    width: 290px;
}
.register-label {
    width: 120px;
    display: inline-block;
}
.symbol {
    width: 20px;
}
.rightBlock {
    float: right;
    width: 40%;
}
.leftBlock {
    float: left;
    width: 50%;
    margin-left: 50px;
    margin-top: 30px;
}
#dataSymb {
    float: right;
    margin-top: 50px;
    width: 60px;
    height: 30px;
    margin-right: 80px;
    color: #000;
    background-color: #fff;
    border: 3px #000 solid;
}
#dataText {
    float: left;
    width: 130px;
    height: 120px;
    resize: none;
    color: #000;
    background-color: #fff;
    border: 3px #000 solid;
}
.rightBlock > label {
    display: block;
}
.actionArea {
    clear: both;
    margin-top: 50px;
    margin-right: 105px;
    float: right;
}
.actionArea > textarea {
    display: block;
    width: 250px;
    height: 100px;
    resize: none;
}
.dataLabel {
    width: 120px;
    display: inline-block;
}
.encodedData {
    margin-left: 50px;
    float: left;
}
.encodedData > input {
    width: 290px;
    height: 35px;
    margin-top: 5px;
}