.content{
    width: 950px;
    margin: 0 auto;
    padding-top: 50px;
}
.register {
    width: 290px;
}
.register-label {
    width: 120px;
    display: inline-block;
}
.symbol {
    width: 20px;
}
.rightBlock {
    float: right;
    width: 40%;
}
.leftBlock {
    float: left;
    width: 50%;
    margin-left: 50px;
    margin-top: 30px;
}
#dataSymb {
    float: right;
    margin-top: 50px;
    width: 19px;
    height: 30px;
    margin-right: 160px;
    color: #000;
    background-color: #fff;
    font-size: 30px;
    border: 3px #000 solid;
}
#dataText {
    float: left;
    width: 130px;
    height: 120px;
    resize: none;
    color: #000;
    background-color: #fff;
    border: 3px #000 solid;
}
.rightBlock > label {
    display: block;
}
.actionArea {
    clear: both;
    margin-left: 50px;
}
.actionArea > label {
    vertical-align: top;
}
.actionArea > textarea {
    margin-top: 16px;
    margin: 0px 0px;
    width: 286px;
    height: 80px;
    resize: none;
}
.actionArea > button {
    vertical-align: super;
    margin-left: 10px;
}
.dataLabel {
    width: 120px;
    display: inline-block;
}
.encodedData {
    margin-left: 50px;
    float: left;
}
.data-row > input {
    width: 500px;
    height: 35px;
    margin-top: 5px;
}
.register-row:after {
    content: '';
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;    
    border-left: 7px solid black;
    display: inline-block;
}