.content{
    width: 1150px;
    margin: 0 auto;
    padding-top: 50px;
}
.form-control {
    display: inline-block;
}
.right-column {
    width: 30%;
    float: left;
}
.left-column {
    width: 66%;
    float: right;
}
.left-column label {
    margin: 0 auto;
}
.left-column textarea {
    height: 300px;
}
/*Part 2 */
#tab-part2 {
    display: none;
}

p {
    margin-top: 10px;
}
#tab-part2 label {
    width: 10%;
}
.keyArea input {
    width: 40%;
}
.keyArea p {
    margin-left: 120px;
}
.bitLengthLabel {
    margin-left: 20px;
    width: 7%;

}
#bitLength {
    width: 10%;
}
.displayKey textarea {
    width: 40%;
}
.encryptionArea textarea {
    width: 70%;
}
.actionButtons {
    margin-left: 120px;
}
.actionButtons button {
    margin-right: 10px;
}
.resultArea textarea { 
    width: 80%;
    height: 100px;
    resize: none;
}